
<button class="au-btn au-btn-icon au-btn--green" data-toggle="modal" data-target="#checkoutModal">
  <i class="zmdi zmdi-plus"></i>add car</button>
<!-- MAIN CONTENT-->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#staticModal">
  Static
</button> -->
  <!-- checkoutModal -->
  <div id="checkoutModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" align="center">Review Your Order</h5>
        </div>
        <div class="modal-body">
		<div>      
            <div class="form-group">
              <label class="form-control-label">Name</label>
              <input class="form-control" type="text" name="name" placeholder="Name" ng-model="customerForm.custName">
            </div>
            <div class="form-group">
              <label class="form-control-label">Address</label>
              <input class="form-control" type="text" name="address" placeholder="Address" ng-model="customerForm.custAddress">
            </div>
            <div class="form-group">
              <label class="form-control-label">Phone</label>
              <input class="form-control"type="text" name="phone" placeholder="Phone" ng-model="customerForm.custPhone">
            </div>
            <div class="form-group">
              <label class="form-control-label">Email</label>
				<input class="form-control"type="email" name="email" placeholder="Email" ng-model="customerForm.custEmail">
            </div>
            <div class="form-group">
              <label class="form-control-label">Gender</label>
              <select class="form-control" ng-model="customerForm.custGender">
              	<option value="">Gender</option>
                <option ng-repeat="i in items" value="{{i.name}}">{{i.name}}</option>
              </select>
            </div>
		</div>

        </div>
        <div class="modal-footer">
          <button data-toggle="modal" data-target="#messageModal" ng-click="addCustomer()" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Confirm</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
        </div>
      </div>

    </div>
  </div>